<%= f.file_field :image, class: 'file' %>
<span class="fakefile">
  <button type="button" class="button small margin_0"><%= t('views.common.select_file')%></button>
  <span><i class="icon-arrow-up"></i>Browse</span>
</span>