<%# render 'partials/breadcrumbs', breadcrumbs: ['products', 'add_new']%>
<section class="container main-content page-right-sidebar">
  <div class="row">
    <div class="with-sidebar-container">
      <div class="col-md-9">
        <div class="page-content">
          <div class="boxedtitle page-title">
            <h2>Edit Question</h2>
          </div>
          <%= render 'form' %>
        </div>     
      </div>
    </div>
    <%= render 'partials/sidebar' %>
    <div class="clearfix"></div>
  </div>
</section>