<%# render 'partials/breadcrumbs', breadcrumbs: ['products', 'add_new']%>
<div class="content">
  <div class="container">
    <div class="content-top">
      <div class="content-top1">
        <div class="clearfix"> </div>
        <%= render 'form' %>
      </div>
    </div>
  </div>    
</div>