<div class="breadcrumbs">
  <section class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>User Questions</h1>
        <div class="clearfix"></div>
        <div class="crumbs">
          <a itemprop="breadcrumb" href="http://2code.info/demo/themes/ask-me">Home</a><span class="crumbs-span">/</span> <span class="current">User Questions</span>
        </div>
      </div>
    </div>
  </section>
</div>