<div id="login-widget-2" class="widget login-widget">
  <h3 class="widget_title">Login</h3>
  <div class="widget_login">

  <ul class="widget_social">
    <li class="facebook-fans">
      <a href="/auth/facebook">
      <strong>
      <i class="social_icon-facebook"></i>
      <!-- <span>436</span><br> -->
      <span>Login via</span>
      <small>Facebook </small>
      </strong>
      </a>
    </li>

  </ul>
  <br>
   <div class="center" style="background-color: #aea28f">OR</div> 
    <div class="form-style form-style-2">
      <div class="ask_form inputs">
        <form class="login-form ask_login" action="http://2code.info/demo/themes/ask-me/" method="post">
          <div class="ask_error"></div>
          <div class="form-inputs clearfix">
            <p class="login-text">
              <input class="required-item" type="text" value="Username" onfocus="if (this.value == 'Username') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Username';}" name="log">
              <i class="icon-user"></i>
            </p>
            <p class="login-password">
              <input class="required-item" type="password" value="Password" onfocus="if (this.value == 'Password') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Password';}" name="pwd">
              <i class="icon-lock"></i>
              <a href="#">Forget</a>
            </p>
          </div>
          <p class="form-submit login-submit">
            <span class="loader_2"></span>
            <input type="submit" value="Log in" class="button color small login-submit submit sidebar_submit">
          </p>
          <div class="rememberme">
            <label><input type="checkbox" input="" name="rememberme" checked="checked"> Remember Me</label>
          </div>
          <input type="hidden" name="redirect_to" value="http://2code.info/demo/themes/ask-me/">
          <input type="hidden" name="login_nonce" value="dd0ba90ee8">
          <input type="hidden" name="ajax_url" value="http://2code.info/demo/themes/ask-me/wp-admin/admin-ajax.php">
          <input type="hidden" name="form_type" value="ask-login">
          <div class="errorlogin"></div>
        </form>
      </div>
      <ul class="login-links login-links-r">
        <li><a href="#">Register</a></li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
</div>