<div class="tab-inner-warp" style="display: none;">
  <div class="tab-inner">
    <article class="post clearfix  post-169 type-post status-publish format-standard has-post-thumbnail hentry category-gallery category-general category-wordpress tag-colored tag-fixed tag-post" role="article" itemtype="http://schema.org/Article">
      <div class="post-inner">
        <div class="post-img post-img-9">
          <a href="http://2code.info/demo/themes/ask-me/custom-single-post-colored-and-fixed/" title="Custom Single post colored and  fixed" rel="bookmark"><img alt="Custom Single post colored and  fixed" width="810" height="450" src="http://2code.info/demo/themes/ask-me/wp-content/uploads/2014/06/8624484494_53ba06f920_h-810x450.jpg">        </a>      
        </div>
        <h2 itemprop="name" class="post-title">
          <span class="post-type"><i class="icon-picture"></i></span>
          <a itemprop="url" href="http://2code.info/demo/themes/ask-me/custom-single-post-colored-and-fixed/" title="Custom Single post colored and  fixed" rel="bookmark">Custom Single post colored and  fixed</a>
        </h2>
        <div class="post-meta">
          <span class="meta-author" itemprop="author" rel="author"><i class="icon-user"></i>
          <a href="http://2code.info/demo/themes/ask-me/author/ask-me/" title="Ahmed Hassan">Ahmed Hassan</a>
          </span>
          <span class="badge-span" style="background-color: #dd9933">Pundit</span>              <span class="meta-date" datetime="2014-06-04T18:27:41+00:00" itemprop="datePublished"><i class="fa fa-calendar"></i>June 4 , 2014</span>
          <span class="meta-categories"><i class="icon-suitcase"></i><a href="http://2code.info/demo/themes/ask-me/category/gallery/" rel="category tag">Gallery</a> , <a href="http://2code.info/demo/themes/ask-me/category/general/" rel="category tag">general</a> , <a href="http://2code.info/demo/themes/ask-me/category/wordpress/" rel="category tag">WordPress</a></span>
          <span class="meta-comment"><i class="fa fa-comments-o"></i><a href="http://2code.info/demo/themes/ask-me/custom-single-post-colored-and-fixed/#comments">8 Comments</a></span>
          <meta itemprop="interactionCount" content="UserComments: 8">
          <span class="post-view"><i class="icon-eye-open"></i>5761 views</span>
        </div>
        <div class="post-content">
          <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum ...</p>
          <a href="http://2code.info/demo/themes/ask-me/custom-single-post-colored-and-fixed/" title="Custom Single post colored and  fixed" rel="bookmark" class="post-read-more button color small">Continue reading</a>
        </div>
        <!-- End post-content -->
      </div>
      <!-- End post-inner -->
    </article>
    <!-- End article.post -->
    <div class="clearfix"></div>
    <div class="advertising"><a target="_blank" href="#"><img alt="" src="http://2code.info/demo/themes/ask-me/wp-content/uploads/2014/07/adv728x90.gif"></a></div>
    <!-- End advertising -->
    <div class="clearfix"></div>
    <article class="post clearfix  post-158 type-post status-publish format-standard has-post-thumbnail hentry category-general tag-full-width tag-general tag-post" role="article" itemtype="http://schema.org/Article">
      <div class="post-inner">
        <div class="post-img post-img-9">
          <div class="flexslider blog_silder margin_b_20 post-img">
            <ul class="slides">
              <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: list-item;">
                <img alt="Single Post Full Width" width="810" height="450" src="http://2code.info/demo/themes/ask-me/wp-content/uploads/2014/06/13555567234_01e37bdea2_h-810x450.jpg">                
              </li>
              <li style="width: 100%; float: left; margin-right: -100%; position: relative;">
                <img alt="Single Post Full Width" width="810" height="450" src="http://2code.info/demo/themes/ask-me/wp-content/uploads/2014/06/13712966453_0d2088414c_h-810x450.jpg">                
              </li>
            </ul>
            <ul class="flex-direction-nav">
              <li><a class="flex-prev" href="#"><i class="icon-angle-left"></i></a></li>
              <li><a class="flex-next" href="#"><i class="icon-angle-right"></i></a></li>
            </ul>
          </div>
          <!-- End flexslider -->
        </div>
        <h2 itemprop="name" class="post-title">
          <span class="post-type"><i class="icon-film"></i></span>
          <a itemprop="url" href="http://2code.info/demo/themes/ask-me/single-post-full-width/" title="Single Post Full Width" rel="bookmark">Single Post Full Width</a>
        </h2>
        <div class="post-meta">
          <span class="meta-author" itemprop="author" rel="author"><i class="icon-user"></i>
          <a href="http://2code.info/demo/themes/ask-me/author/ask-me/" title="Ahmed Hassan">Ahmed Hassan</a>
          </span>
          <span class="badge-span" style="background-color: #dd9933">Pundit</span>              <span class="meta-date" datetime="2014-06-04T17:55:37+00:00" itemprop="datePublished"><i class="fa fa-calendar"></i>June 4 , 2014</span>
          <span class="meta-categories"><i class="icon-suitcase"></i><a href="http://2code.info/demo/themes/ask-me/category/general/" rel="category tag">general</a></span>
          <span class="meta-comment"><i class="fa fa-comments-o"></i><a href="http://2code.info/demo/themes/ask-me/single-post-full-width/#respond">0 Comments</a></span>
          <meta itemprop="interactionCount" content="UserComments: 0">
          <span class="post-view"><i class="icon-eye-open"></i>3415 views</span>
        </div>
        <div class="post-content">
          <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum ...</p>
          <a href="http://2code.info/demo/themes/ask-me/single-post-full-width/" title="Single Post Full Width" rel="bookmark" class="post-read-more button color small">Continue reading</a>
        </div>
        <!-- End post-content -->
      </div>
      <!-- End post-inner -->
    </article>
    <!-- End article.post -->
    <article class="post clearfix  post-152 type-post status-publish format-standard has-post-thumbnail hentry category-gallery tag-gallery tag-left tag-post" role="article" itemtype="http://schema.org/Article">
      <div class="post-inner">
        <div class="post-img post-img-9">
          <div class="flexslider blog_silder margin_b_20 post-img">
            <ul class="slides">
              <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: list-item;">
                <img alt="Single Post Left sidebar" width="810" height="450" src="http://2code.info/demo/themes/ask-me/wp-content/uploads/2014/06/12609617923_d051c784de_h-810x450.jpg">                
              </li>
              <li style="width: 100%; float: left; margin-right: -100%; position: relative;">
                <img alt="Single Post Left sidebar" width="810" height="450" src="http://2code.info/demo/themes/ask-me/wp-content/uploads/2014/06/13555567234_01e37bdea2_h-810x450.jpg">                
              </li>
            </ul>
            <ul class="flex-direction-nav">
              <li><a class="flex-prev" href="#"><i class="icon-angle-left"></i></a></li>
              <li><a class="flex-next" href="#"><i class="icon-angle-right"></i></a></li>
            </ul>
          </div>
          <!-- End flexslider -->
        </div>
        <h2 itemprop="name" class="post-title">
          <span class="post-type"><i class="icon-film"></i></span>
          <a itemprop="url" href="http://2code.info/demo/themes/ask-me/single-left-sidebar/" title="Single Post Left sidebar" rel="bookmark">Single Post Left sidebar</a>
        </h2>
        <div class="post-meta">
          <span class="meta-author" itemprop="author" rel="author"><i class="icon-user"></i>
          <a href="http://2code.info/demo/themes/ask-me/author/ask-me/" title="Ahmed Hassan">Ahmed Hassan</a>
          </span>
          <span class="badge-span" style="background-color: #dd9933">Pundit</span>              <span class="meta-date" datetime="2014-06-04T17:51:28+00:00" itemprop="datePublished"><i class="fa fa-calendar"></i>June 4 , 2014</span>
          <span class="meta-categories"><i class="icon-suitcase"></i><a href="http://2code.info/demo/themes/ask-me/category/gallery/" rel="category tag">Gallery</a></span>
          <span class="meta-comment"><i class="fa fa-comments-o"></i><a href="http://2code.info/demo/themes/ask-me/single-left-sidebar/#respond">0 Comments</a></span>
          <meta itemprop="interactionCount" content="UserComments: 0">
          <span class="post-view"><i class="icon-eye-open"></i>2543 views</span>
        </div>
        <div class="post-content">
          <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum ...</p>
          <a href="http://2code.info/demo/themes/ask-me/single-left-sidebar/" title="Single Post Left sidebar" rel="bookmark" class="post-read-more button color small">Continue reading</a>
        </div>
        <!-- End post-content -->
      </div>
      <!-- End post-inner -->
    </article>
    <!-- End article.post -->
    <article class="post clearfix  post-94 type-post status-publish format-standard has-post-thumbnail hentry category-wordpress tag-post tag-standard" role="article" itemtype="http://schema.org/Article">
      <div class="post-inner">
        <div class="post-img post-img-9">
          <a href="http://2code.info/demo/themes/ask-me/this-is-a-standard-post/" title="This is a Standard Post." rel="bookmark"><img alt="This is a Standard Post." width="810" height="450" src="http://2code.info/demo/themes/ask-me/wp-content/uploads/2014/06/8599082733_740f15ad73_h-810x450.jpg">       </a>      
        </div>
        <h2 itemprop="name" class="post-title">
          <span class="post-type"><i class="icon-picture"></i></span>
          <a itemprop="url" href="http://2code.info/demo/themes/ask-me/this-is-a-standard-post/" title="This is a Standard Post." rel="bookmark">This is a Standard Post.</a>
        </h2>
        <div class="post-meta">
          <span class="meta-author" itemprop="author" rel="author"><i class="icon-user"></i>
          <a href="http://2code.info/demo/themes/ask-me/author/ask-me/" title="Ahmed Hassan">Ahmed Hassan</a>
          </span>
          <span class="badge-span" style="background-color: #dd9933">Pundit</span>              <span class="meta-date" datetime="2014-06-04T03:18:39+00:00" itemprop="datePublished"><i class="fa fa-calendar"></i>June 4 , 2014</span>
          <span class="meta-categories"><i class="icon-suitcase"></i><a href="http://2code.info/demo/themes/ask-me/category/wordpress/" rel="category tag">WordPress</a></span>
          <span class="meta-comment"><i class="fa fa-comments-o"></i><a href="http://2code.info/demo/themes/ask-me/this-is-a-standard-post/#comments">1 Comment</a></span>
          <meta itemprop="interactionCount" content="UserComments: 1">
          <span class="post-view"><i class="icon-eye-open"></i>2419 views</span>
        </div>
        <div class="post-content">
          <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum ...</p>
          <a href="http://2code.info/demo/themes/ask-me/this-is-a-standard-post/" title="This is a Standard Post." rel="bookmark" class="post-read-more button color small">Continue reading</a>
        </div>
        <!-- End post-content -->
      </div>
      <!-- End post-inner -->
    </article>
    <!-- End article.post -->
    <article class="post clearfix  post-92 type-post status-publish format-standard hentry category-gallery tag-gallery" role="article" itemtype="http://schema.org/Article">
      <div class="post-inner">
        <div class="post-img post-img-9">
          <div class="flexslider blog_silder margin_b_20 post-img">
            <ul class="slides">
              <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: list-item;">
                <img alt="Beautiful Gallery Post." width="810" height="450" src="http://2code.info/demo/themes/ask-me/wp-content/uploads/2014/06/10066657765_8d23f619c9_h-810x450.jpg">               
              </li>
              <li style="width: 100%; float: left; margin-right: -100%; position: relative;">
                <img alt="Beautiful Gallery Post." width="810" height="450" src="http://2code.info/demo/themes/ask-me/wp-content/uploads/2014/06/9741048224_15b80d9109_b-810x450.jpg">                
              </li>
            </ul>
            <ul class="flex-direction-nav">
              <li><a class="flex-prev" href="#"><i class="icon-angle-left"></i></a></li>
              <li><a class="flex-next" href="#"><i class="icon-angle-right"></i></a></li>
            </ul>
          </div>
          <!-- End flexslider -->
        </div>
        <h2 itemprop="name" class="post-title">
          <span class="post-type"><i class="icon-film"></i></span>
          <a itemprop="url" href="http://2code.info/demo/themes/ask-me/beautiful-gallery-post/" title="Beautiful Gallery Post." rel="bookmark">Beautiful Gallery Post.</a>
        </h2>
        <div class="post-meta">
          <span class="meta-author" itemprop="author" rel="author"><i class="icon-user"></i>
          <a href="http://2code.info/demo/themes/ask-me/author/ask-me/" title="Ahmed Hassan">Ahmed Hassan</a>
          </span>
          <span class="badge-span" style="background-color: #dd9933">Pundit</span>              <span class="meta-date" datetime="2014-06-04T03:17:09+00:00" itemprop="datePublished"><i class="fa fa-calendar"></i>June 4 , 2014</span>
          <span class="meta-categories"><i class="icon-suitcase"></i><a href="http://2code.info/demo/themes/ask-me/category/gallery/" rel="category tag">Gallery</a></span>
          <span class="meta-comment"><i class="fa fa-comments-o"></i><a href="http://2code.info/demo/themes/ask-me/beautiful-gallery-post/#respond">0 Comments</a></span>
          <meta itemprop="interactionCount" content="UserComments: 0">
          <span class="post-view"><i class="icon-eye-open"></i>4300 views</span>
        </div>
        <div class="post-content">
          <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum ...</p>
          <a href="http://2code.info/demo/themes/ask-me/beautiful-gallery-post/" title="Beautiful Gallery Post." rel="bookmark" class="post-read-more button color small">Continue reading</a>
        </div>
        <!-- End post-content -->
      </div>
      <!-- End post-inner -->
    </article>
    <!-- End article.post -->
    <article class="post clearfix  post-85 type-post status-publish format-standard has-post-thumbnail hentry category-wordpress" role="article" itemtype="http://schema.org/Article">
      <div class="post-inner">
        <div class="post-img video_embed post-img-9">
          <iframe height="450" src="http://www.youtube.com/embed/JuyB7NO0EYY"></iframe>             
        </div>
        <h2 itemprop="name" class="post-title">
          <span class="post-type"><i class="icon-play-circle"></i></span>
          <a itemprop="url" href="http://2code.info/demo/themes/ask-me/this-is-a-video-post/" title="This is a Video Post." rel="bookmark">This is a Video Post.</a>
        </h2>
        <div class="post-meta">
          <span class="meta-author" itemprop="author" rel="author"><i class="icon-user"></i>
          <a href="http://2code.info/demo/themes/ask-me/author/ask-me/" title="Ahmed Hassan">Ahmed Hassan</a>
          </span>
          <span class="badge-span" style="background-color: #dd9933">Pundit</span>              <span class="meta-date" datetime="2014-06-04T03:15:31+00:00" itemprop="datePublished"><i class="fa fa-calendar"></i>June 4 , 2014</span>
          <span class="meta-categories"><i class="icon-suitcase"></i><a href="http://2code.info/demo/themes/ask-me/category/wordpress/" rel="category tag">WordPress</a></span>
          <span class="meta-comment"><i class="fa fa-comments-o"></i><a href="http://2code.info/demo/themes/ask-me/this-is-a-video-post/#respond">0 Comments</a></span>
          <meta itemprop="interactionCount" content="UserComments: 0">
          <span class="post-view"><i class="icon-eye-open"></i>1764 views</span>
        </div>
        <div class="post-content">
          <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum ...</p>
          <a href="http://2code.info/demo/themes/ask-me/this-is-a-video-post/" title="This is a Video Post." rel="bookmark" class="post-read-more button color small">Continue reading</a>
        </div>
        <!-- End post-content -->
      </div>
      <!-- End post-inner -->
    </article>
    <!-- End article.post -->
    <article class="post clearfix  post-80 type-post status-publish format-standard hentry category-wordpress tag-post tag-wordpress" role="article" itemtype="http://schema.org/Article">
      <div class="post-inner">
        <div class="post-img post-img-0 post-img-9">
        </div>
        <h2 itemprop="name" class="post-title">
          <span class="post-type"><i class="icon-file-alt"></i></span>
          <a itemprop="url" href="http://2code.info/demo/themes/ask-me/post-without-image/" title="Post Without Image." rel="bookmark">Post Without Image.</a>
        </h2>
        <div class="post-meta">
          <span class="meta-author" itemprop="author" rel="author"><i class="icon-user"></i>
          <a href="http://2code.info/demo/themes/ask-me/author/ask-me/" title="Ahmed Hassan">Ahmed Hassan</a>
          </span>
          <span class="badge-span" style="background-color: #dd9933">Pundit</span>              <span class="meta-date" datetime="2014-06-04T03:08:15+00:00" itemprop="datePublished"><i class="fa fa-calendar"></i>June 4 , 2014</span>
          <span class="meta-categories"><i class="icon-suitcase"></i><a href="http://2code.info/demo/themes/ask-me/category/wordpress/" rel="category tag">WordPress</a></span>
          <span class="meta-comment"><i class="fa fa-comments-o"></i><a href="http://2code.info/demo/themes/ask-me/post-without-image/#respond">0 Comments</a></span>
          <meta itemprop="interactionCount" content="UserComments: 0">
          <span class="post-view"><i class="icon-eye-open"></i>1739 views</span>
        </div>
        <div class="post-content">
          <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum ...</p>
          <a href="http://2code.info/demo/themes/ask-me/post-without-image/" title="Post Without Image." rel="bookmark" class="post-read-more button color small">Continue reading</a>
        </div>
        <!-- End post-content -->
      </div>
      <!-- End post-inner -->
    </article>
    <!-- End article.post -->
    <article class="post clearfix  post-1076 type-post status-publish format-standard hentry category-gallery" role="article" itemtype="http://schema.org/Article">
      <div class="post-inner">
        <div class="post-img post-img-0 post-img-9">
        </div>
        <h2 itemprop="name" class="post-title">
          <span class="post-type"><i class="icon-file-alt"></i></span>
          <a itemprop="url" href="http://2code.info/demo/themes/ask-me/advertising/" title="Advertising" rel="bookmark">Advertising</a>
        </h2>
        <div class="post-meta">
          <span class="meta-author" itemprop="author" rel="author"><i class="icon-user"></i>
          <a href="http://2code.info/demo/themes/ask-me/author/ask-me/" title="Ahmed Hassan">Ahmed Hassan</a>
          </span>
          <span class="badge-span" style="background-color: #dd9933">Pundit</span>              <span class="meta-date" datetime="2014-06-03T14:22:23+00:00" itemprop="datePublished"><i class="fa fa-calendar"></i>June 3 , 2014</span>
          <span class="meta-categories"><i class="icon-suitcase"></i><a href="http://2code.info/demo/themes/ask-me/category/gallery/" rel="category tag">Gallery</a></span>
          <span class="meta-comment"><i class="fa fa-comments-o"></i><a href="http://2code.info/demo/themes/ask-me/advertising/#comments">6 Comments</a></span>
          <meta itemprop="interactionCount" content="UserComments: 6">
          <span class="post-view"><i class="icon-eye-open"></i>2481 views</span>
        </div>
        <div class="post-content">
          <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum ...</p>
          <a href="http://2code.info/demo/themes/ask-me/advertising/" title="Advertising" rel="bookmark" class="post-read-more button color small">Continue reading</a>
        </div>
        <!-- End post-content -->
      </div>
      <!-- End post-inner -->
    </article>
    <!-- End article.post -->                 
  </div>
</div>