<div id="stats-widget-2" class="widget stats-widget">
  <h3 class="widget_title">Stats</h3>
  <div class="widget_stats ul_list ul_list-icon-ok">
    <ul>
      <li><i class="icon-question-sign"></i>Questions ( <span><%= Question.count %></span> )</li>
      <li><i class="fa fa-comments-o"></i>Answers ( <span><%= UsersAnswer.count %></span> )</li>
      <!-- <li><i class="fa fa-comments-o"></i>Best Answers ( <span>8</span> )</li> -->
      <li><i class="icon-user"></i>Users ( <span><%= User.count %></span> )</li>
    </ul>
  </div>
</div>