<div id="questions-widget-2" class="widget questions-widget">
  <h3 class="widget_title">Recent Questions</h3>
  <ul class="related-posts">
    <li class="related-item">
      <div class="questions-div">
        <h3>
          <a href="http://2code.info/demo/themes/ask-me/questions/ask-any-question-and-you-be-sure-find-your-answer-2/" title="Ask any question and you be sure find your answer ?" rel="bookmark">
          Ask any question and you              </a>
        </h3>
        <p>Hi,
          My name is Bao. I’m from VietNam. I love WordPress and ...
        </p>
        <div class="clear"></div>
        <span>July 18 , 2014</span>
      </div>
    </li>
    <li class="related-item">
      <div class="questions-div">
        <h3>
          <a href="http://2code.info/demo/themes/ask-me/questions/como-va-todo/" title="como va todo?" rel="bookmark">
          como va todo?             </a>
        </h3>
        <p>queria saber como esta todo?
          ...
        </p>
        <div class="clear"></div>
        <span>July 6 , 2014</span>
      </div>
    </li>
    <li class="related-item">
      <div class="questions-div">
        <h3>
          <a href="http://2code.info/demo/themes/ask-me/questions/example-question/" title="Example Question" rel="bookmark">
          Example Question              </a>
        </h3>
        <p>Example detail.
          ...
        </p>
        <div class="clear"></div>
        <span>July 6 , 2014</span>
      </div>
    </li>
  </ul>
</div>
