<div id="counter-widget-2" class="widget counter-widget">
  <h3 class="widget_title">Find Us</h3>
  <ul class="widget_social">
    <li class="rss-subscribers">
      <a href="http://2code.info/demo/themes/ask-me/feed/" target="_blank">
      <strong>
      <i class="icon-rss"></i>
      <span>Subscribe</span><br>
      <small>To RSS Feed</small>
      </strong>
      </a>
    </li>
    <li class="facebook-fans">
      <a href="https://www.facebook.com/2code.info/" target="_blank">
      <strong>
      <i class="social_icon-facebook"></i>
      <span>436</span><br>
      <small>People like it</small>
      </strong>
      </a>
    </li>
    <li class="gplus-subs">
      <a href="https://plus.google.com/+envato" target="_blank">
      <strong>
      <i class="icon-google-plus"></i>
      <span>13,592</span><br>
      <small>Followers</small>
      </strong>
      </a>
    </li>
    <li class="twitter-followers">
      <a href="http://twitter.com/envato" target="_blank">
      <strong>
      <i class="social_icon-twitter"></i>
      <span>62,112</span><br>
      <small>Followers</small>
      </strong>
      </a>
    </li>
    <li class="youtube-subs">
      <a href="http://www.youtube.com/channel/UCht9cayN2rRaXk5VgMJtAsA" target="_blank">
      <strong>
      <i class="icon-play"></i>
      <span>451</span><br>
      <small>Subscribers</small>
      </strong>
      </a>
    </li>
  </ul>
</div>