<% if object.errors.any? %>
  <div id="error_explanation" class='errors'>
    <h4><%= object.errors.count %> lỗi được phát hiện:</h4>
    <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>