<footer id="footer" class="footer_dark">
  <section class="container">
    <div class="row">
      <div class="col-md-4">
        <div id="contact-widget-2" class="widget contact-widget">
          <h3 class="widget_title">Where We Are ?</h3>
          <div class="widget_contact">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravida odio, sit amet suscipit risus ultrices eu.</p>
            <ul>
              <li><span>Address :</span>Ask Me Network, 33 Street, syada Zeinab, Cairo, Egypt.</li>
              <li><span>Support :</span>Support Telephone No : (+2)01111011110</li>
              <li>Support Email Account : info@example.com</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div id="nav_menu-2" class="widget widget_nav_menu">
          <h3 class="widget_title">Quick Links</h3>
          <div class="menu-footer-widget-container">
            <ul id="menu-footer-widget" class="menu">
              <li id="menu-item-134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-16 current_page_item menu-item-134"><a href="http://2code.info/demo/themes/ask-me/">Home</a></li>
              <li id="menu-item-135" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-135"><a href="http://2code.info/demo/themes/ask-me/ask-question/">Ask Question</a></li>
              <li id="menu-item-136" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-136"><a href="http://2code.info/demo/themes/ask-me/category/wordpress/">Questions</a></li>
              <li id="menu-item-137" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-137"><a href="http://2code.info/demo/themes/ask-me/author/ask-me/">User</a></li>
              <li id="menu-item-141" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-141"><a href="http://2code.info/demo/themes/ask-me/edit-profile/">Edit Profile</a></li>
              <li id="menu-item-138" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-138"><a href="http://2code.info/demo/themes/ask-me/blog-1/">Blog</a></li>
              <li id="menu-item-139" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-139"><a href="http://2code.info/demo/themes/ask-me/right-sidebar/">Page</a></li>
              <li id="menu-item-140" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-140"><a href="http://2code.info/demo/themes/ask-me/contact-us/">Contact Us</a></li>
              <li id="menu-item-261" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-261"><a href="http://themeforest.net/item/ask-me-responsive-questions-answers-wordpress/7935874?ref=2codeThemes">Buy now</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div id="questions-widget-3" class="widget questions-widget">
          <h3 class="widget_title">Popular Questions</h3>
          <ul class="related-posts">
            <li class="related-item">
              <div class="questions-div">
                <h3>
                  <a href="http://2code.info/demo/themes/ask-me/questions/ask-any-question-and-you-be-sure-find-your-answer-2/" title="Ask any question and you be sure find your answer ?" rel="bookmark">
                  Ask any question and you              </a>
                </h3>
                <p>Hi,
                  My name is Bao. I’m from VietNam. I love WordPress and ...
                </p>
                <div class="clear"></div>
                <span>July 18 , 2014</span>
              </div>
            </li>
            <li class="related-item">
              <div class="questions-div">
                <h3>
                  <a href="http://2code.info/demo/themes/ask-me/questions/what-is-the-meta-post/" title="What is the Meta Post ?" rel="bookmark">
                  What is the Meta Post               </a>
                </h3>
                <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem ...</p>
                <div class="clear"></div>
                <span>June 4 , 2014</span>
              </div>
            </li>
            <li class="related-item">
              <div class="questions-div">
                <h3>
                  <a href="http://2code.info/demo/themes/ask-me/questions/como-va-todo/" title="como va todo?" rel="bookmark">
                  como va todo?             </a>
                </h3>
                <p>queria saber como esta todo?
                  ...
                </p>
                <div class="clear"></div>
                <span>July 6 , 2014</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div id="twitter-widget-2" class="widget twitter-widget">
          <h3 class="widget_title">Latest Tweets</h3>
          <div class="widget_twitter">
            <ul>
              <li class="tweet-item">
                <div class="tweet-text">
                  <a target="_blank" href="http://twitter.com/#!/envato/status/811725050801815552" class="tweet-icon"></a>
                  <a target="_blank" class="tweet-name" href="http://twitter.com/#!/envato/status/811725050801815552">envato</a>
                  A handy PHP script for the #CSGO fans.
                  Download it at <a href="https://t.co/SyQNNwYcTF" rel="nofollow">https://t.co/SyQNNwYcTF</a>. <a href="https://t.co/gZEVZQuKUY" rel="nofollow">https://t.co/gZEVZQuKUY</a>
                  <br>
                  <span class="tweet-time"> about an hour ago</span>
                </div>
              </li>
              <li class="tweet-item">
                <div class="tweet-text">
                  <a target="_blank" href="http://twitter.com/#!/envato/status/811693024820523009" class="tweet-icon"></a>
                  <a target="_blank" class="tweet-name" href="http://twitter.com/#!/envato/status/811693024820523009">envato</a>
                  Are you a fan of single-page sites? <a href="https://t.co/YMxS3Tskex" rel="nofollow">https://t.co/YMxS3Tskex</a>
                  <br>
                  <span class="tweet-time"> about 3 hours ago</span>
                </div>
              </li>
              <li class="tweet-item">
                <div class="tweet-text">
                  <a target="_blank" href="http://twitter.com/#!/envato/status/811638684822999040" class="tweet-icon"></a>
                  <a target="_blank" class="tweet-name" href="http://twitter.com/#!/envato/status/811638684822999040">envato</a>
                  Let's face it, everybody in your life needs a calendar filled with photos of your cat this Christmas. <a href="https://t.co/CHEdh83ndT" rel="nofollow">https://t.co/CHEdh83ndT</a>
                  <br>
                  <span class="tweet-time"> about 7 hours ago</span>
                </div>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- End row -->
  </section>
  <!-- End container -->
</footer>
<!-- End footer -->
<footer id="footer-bottom" class="">
  <section class="container">
    <div class="copyrights f_left">Copyright 2016 Ask me | <a href="http://themeforest.net/user/2codeThemes/portfolio?ref=2codeThemes">By 2codeThemes</a></div>
    <div class="social_icons f_right">
      <ul>
        <li class="twitter"><a target="_blank" original-title="Twitter" class="tooltip-n" href="1"><i class="social_icon-twitter font17"></i></a></li>
        <li class="facebook"><a target="_blank" original-title="Facebook" class="tooltip-n" href="2"><i class="social_icon-facebook font17"></i></a></li>
        <li class="gplus"><a target="_blank" original-title="Google plus" class="tooltip-n" href="3"><i class="social_icon-gplus font17"></i></a></li>
        <li class="youtube"><a target="_blank" original-title="Youtube" class="tooltip-n" href="4"><i class="social_icon-youtube font17"></i></a></li>
        <li class="skype"><a target="_blank" original-title="Skype" class="tooltip-n" href="skype:5?call"><i class="social_icon-skype font17"></i></a></li>
        <li class="flickr"><a target="_blank" original-title="Flickr" class="tooltip-n" href="6"><i class="social_icon-flickr font17"></i></a></li>
        <li class="linkedin"><a target="_blank" original-title="Linkedin" class="tooltip-n" href="#"><i class="social_icon-linkedin font17"></i></a></li>
        <li class="rss"><a original-title="Rss" class="tooltip-n" href="http://2code.info/demo/themes/ask-me/feed/"><i class="social_icon-rss font17"></i></a></li>
      </ul>
    </div>
    <!-- End social_icons -->
  </section>
  <!-- End container -->
</footer>
<!-- End footer-bottom -->

<div class="go-up" style="right: 20px;"><i class="fa fa-chevron-up"></i></div>
<!-- <script type="text/rocketscript" data-rocketsrc="http://2code.info/demo/themes/ask-me/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20" data-rocketoptimized="true"></script>
  <script type="text/rocketscript" data-rocketoptimized="true">
  /* <![CDATA[ */
  var _wpcf7 = {"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}}};
  /* ]]> */
  </script>
  <script type="text/rocketscript" data-rocketsrc="http://2code.info/demo/themes/ask-me/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.6" data-rocketoptimized="true"></script>
  <script type="text/rocketscript" data-rocketsrc="http://2code.info/demo/themes/ask-me/wp-content/themes/ask-me/js/modernizr.js?ver=1.0.0" data-rocketoptimized="true"></script>
  <script type="text/rocketscript" data-rocketsrc="http://2code.info/demo/themes/ask-me/wp-includes/js/wp-embed.min.js?ver=4.7" data-rocketoptimized="true"></script> -->