<!-- Modal Login -->
<div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="">
    <!--Content-->
    <div class="modal-content">
       
      <!--Header-->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3><i class="fa fa-user"></i> Login</h3>
      </div>
      
      <!--Body-->
      <div class="modal-body">
        <div class='modal-body-center'>


          <div id="counter-widget-2" class="widget counter-widget">
            <ul class="widget_social">
              <li class="facebook-fans">
                <a href="/auth/facebook">
                <strong>
                <i class="social_icon-facebook"></i>
                <span>Login</span><br>
                <small>Via Facebook</small>
                </strong>
                </a>
              </li>
              <li class="rss-subscribers">
                <a href="http://2code.info/demo/themes/ask-me/feed/" target="_blank">
                <strong>
                <i class="icon-rss"></i>
                <span>Subscribe</span><br>
                <small>To RSS Feed</small>
                </strong>
                </a>
              </li>
              <li class="gplus-subs">
                <a href="https://plus.google.com/+envato" target="_blank">
                <strong>
                <i class="icon-google-plus"></i>
                <span>13,592</span><br>
                <small>Followers</small>
                </strong>
                </a>
              </li>
              <li class="twitter-followers">
                <a href="http://twitter.com/envato" target="_blank">
                <strong>
                <i class="social_icon-twitter"></i>
                <span>62,112</span><br>
                <small>Followers</small>
                </strong>
                </a>
              </li>
              <li class="youtube-subs">
                <a href="http://www.youtube.com/channel/UCht9cayN2rRaXk5VgMJtAsA" target="_blank">
                <strong>
                <i class="icon-play"></i>
                <span>451</span><br>
                <small>Subscribers</small>
                </strong>
                </a>
              </li>
            </ul>
          </div> 
        </div>
      </div>
      
      <!--Footer-->
      <div class="modal-footer">
<!--         <div class="options">
          <p>Not a member? <a href="#">Sign Up</a></p>
          <p>Forgot <a href="#">Password?</a></p>
        </div> -->
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>