<div class="section-warp ask-me">
  <div class="container clearfix">
    <div class="box_icon box_warp box_no_border box_no_background">
      <div class="row">
        <div class="col-md-3">
          <h2>Chào mừng đến với Hỏi đi</h2>
          <p>Trang web giúp các bạn học sinh, sinh viên đặt câu hỏi, trả lời và ôn tập kiến thức bằng trắc nghiệm</p>
          <div class="clearfix"></div>
          <a class="color button dark_button medium" href="author/ask-me/">About Us</a>
          <a class="color button dark_button medium" href="login/">Join Now</a>
        </div>
        <div class="col-md-9">
        <% @question = Question.new %>
          <%= form_for @question, as: :post, url: new_question_path(@question), method: :get, html: { class: "form-style form-style-2",  } do |f| %>
            <p>
              <textarea name="title" rows="4" id="question_title" placeholder='Viết bất kỳ câu hỏi nào mà bạn muốn chúng tôi trả lời'></textarea>
              <i class="fa fa-pencil"></i>
              <input type="hidden" name="form_type" value="add_question">
              <input type="hidden" name="post_type" value="add_question">
              <button class="ask-question"><span class="color button small publish-question ask-not-login">Hỏi ngay</span></button>
            </p>
          <% end %>
        </div>
      </div>
      <!-- End row -->
    </div>
    <!-- End box_icon -->
  </div>
  <!-- End container -->
</div>
<!-- End section-warp -->